@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #101112;
    --text-color:#fff;
    --main-color: #fa2c52;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky { 
    border-bottom: .1rem solid rgba(0, 0, 0 , .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    align-items: center;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s *var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .home-content {
    max-width: 600px;
} */

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

span {
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    width: 35vw;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    color: var(--main-color);
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background:  var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color) ;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
}

.btn:hover {
    box-shadow: none;
}

/* KEY FRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ------------- CERTIFICATION ------------------ */
.certifications-container {
    font-size: 1.5rem;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.certifications-container.heading{
	margin-top: 5rem;
}

.course {
	margin-left: 3rem ;
    margin-bottom: 1rem;
    padding: 2rem;
    border: .2rem solid var(--main-color);
    color: var(--text-color);
    width: 40vw;
    height: 25vh;
}

.course2 {
	margin-left: 3rem ;
    margin-bottom: 1rem;
    padding: 2rem;
    border: .2rem solid var(--main-color);
    color: var(--text-color);
    width: 40vw;
    height: 25vh;
}

.certifications-title {
	padding-top: 1rem;
	font-size: 2rem;
	font-weight: bold;
}

.btn2 {
    display: inline-block;
    padding: 1rem 1rem;
    margin-top: 2rem;
    background: var(--bg-color);
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: .1rem;
    text-decoration-color: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
}

.btn2:hover {
    color: var(--text-color);
}

/* ------------ PROJECTS -----------------*/
.projects-container {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.project-content {
    width: 60%;
    height: 25vh;
    border: .2rem solid var(--main-color);
    max-width: 600px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.project-content:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.project-content h3 {
    font-size: 1.7rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}

.project-content p {
    font-size: 12px;
    animation: slideLeft 1s ease backwards;
    animation-delay: .3s;
    margin-bottom: 1.2rem;
    padding-top: 1rem;
}

.project-content a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.6rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .6s;
}

.project-content a:hover {
    color: var(--text-color);
}

/* ----------------------------------------------------------------------------------------------------- */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

/* ----------------------------- CONTACT --------------------------- */
.contact h2{
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* ----------------- FOOTER --------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 8%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.2rem;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    padding-top: .75rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.footer-iconTop:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

/* ====================== BREAKPOINTS ====================== */
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .contact {
        min-height: auto;
    }

    .course {
        padding-right: 5px;
		padding-left: 5px;
		margin-top: 10px;
		margin-bottom: 15px;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1em solid rgba(0, 0, 0, .1);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0 , .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .course {
        margin-top: 10px;
		margin-bottom: 15px;
		padding-right: 5px;
		padding-left: 10px;
		margin-right: 10px;
		margin-left: 15px;
    }

    .course2 {
        margin-top: 10px;
		margin-bottom: 15px;
		padding-right: 5px;
		padding-left: 10px;
		margin-right: 10px;
		margin-left: 15px;
    }

}

@media (max-width: 617px) {
    .project-content {
        height: 20%;
        width: 35%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .project-content {
        line-height: 2rem;
        height: 20%;
        width: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }


    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}